<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="css/aboutus.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond&family=Gulzar&family=Lora&family=Salsa&family=Solway&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <title>About Us - Taleem Ul Quran Online Quran Academy</title>
  <style>
    /* Custom CSS styles */
  </style>
</head>

<body>
  <header class="header">
    <!-- Call Us -->
    <div id="call_logo">
      <a href="tel:00971554567772">
        <div>
          <img src="../public/images/pics/call_logo.png" alt="Call Us" />
        </div>
        <div>
          <p>00971554567772</p>
        </div>
      </a>
    </div>

    <!-- WhatsApp Us -->
    <div id="whatsapp_logo">
      <a href="https://wa.me/0923412057052">
        <div>
          <img src="../public/images/pics/whatsapp_logo.png" alt="WhatsApp Us">
        </div>
        <div>
          <p>00971554567772</p>
        </div>

      </a>

    </div>

    <!-- email Us -->
    <div id="mail_logo">
      <a href="mailto:naeem.riu.32@gmail.com">
        <div>
          <img src="../public/images/pics/mail_logo.png" alt="Email Us">
        </div>
        <div>
          <p>Suhailumar699@gmail.com </p>
        </div>
      </a>
    </div>

</header>
<nav class="navbar">
  <div id="navbar-logo">
      <a href="/"><img src="../public/images/pics/logo.png" alt="Logo"></a>
  </div>
  <img src="/public/images/pics/navbar-icon.png" alt=""id="dropdown-icon" onclick="toggleCSS()" >
  <ul class="navbar-ul">
    <li class="navbar-li"><a href="/" class="nav-link active" id="home-link">Home</a></li>
    <li class="navbar-li"><a href="/courses" class="nav-link" id="courses-link">Courses</a></li>
    <li class="navbar-li"><a href="/aboutus" class="nav-link" id="aboutus-link">About Us</a></li>
    <li class="navbar-li"><a href="/downloads" class="nav-link" id="downloads-link">Downloads</a></li>
    <li class="navbar-li"><a href="/whyus" class="nav-link" id="whyus-link">Why Us</a></li>
    <li class="navbar-li"><a href="/contactus" class="nav-link" id="contactus-link">Contact Us</a></li>
    <li class="navbar-li"><a href="/register" class="nav-link" id="register-link">Register Now</a></li>
</ul>
</nav>


  <div class="container">
    <div class="mt-5 academy-intro">
      <h2 class="">About the Academy</h2>
      <p class="mt-2">
        Introducing Taleem Ul Quran Online Quran Academy, a distinguished institution founded in 2012 by Maulana Umar
        Qayoom, a renowned Islamic scholar. Initially established as a physical academy with centers in the UAE and
        Pakistan, we have since transitioned to an online platform to extend our reach and provide high-quality Quranic
        education worldwide. Committed to excellence, our academy is dedicated to providing high-quality Quranic
        education exclusively tailored for males, females, and children. Our leadership team, comprised of diverse and
        passionate women and men, spearheads our mission to illuminate hearts with the profound teachings of the Quran.
        At our academy, certified female Almiah, Hafizah, and Qariah Quran teachers guide and nurture the learning
        journey of our students. While we prioritize empowering mothers, sisters, daughters, and children in their
        pursuit of Quranic knowledge, we also extend our services to boys with parental consent. Through a supportive
        environment and a commitment to excellence, we endeavor to enrich the spiritual journey of all our students,
        fostering a deep understanding and appreciation of the Quran.
      </p>
    </div>

    <div class="mt-5 section">
      <h2>Why To Choose Us?</h2>
      <p class="mt-3 fw-bold">At Taleem Ul Quran Online Quran Academy, we stand out for our:</p>
      <div class="row">
          <div class="col-md-6">
              <ul>
                  <li class="mb-1">Desired Timing</li>
                  <li class="mb-1">Experienced and certified instructors</li>
                  <li class="mb-1">Female Teachers</li>
                  <li class="mb-1">Interactive and engaging online classes</li>
                  <li class="mb-1">Any Device, Anywhere</li>
              </ul>
          </div>
          <div class="col-md-6">
              <ul>
                  <li class="mb-1">Flexible learning schedules</li>
                  <li class="mb-1">Individual Sessions</li>
                  <li class="mb-1">Supportive and nurturing environment</li>
                  <li class="mb-1">Affordable Fee</li>
                  <li class="mb-1">Multiple Languages</li>
              </ul>
          </div>
      </div>
  </div>
  

    <div class="ceo-section mt-5">
      <h2>CEO's Message</h2>
      <div class="mt-3" id="ceo-intro">
        <div class="ceo-pic">
          <img src="../public/images/pics/ceo-image.png" alt="CEO Picture" class="ceo-img">
          <p class="text-center mt-2"><strong>Maulana Umar Qayoom Sb <br> CEO of Taleem Ul Quran Online Quran Academy</strong>
          </p>
        </div>
        <div class="ceo-message">
          <h1>Assalamu Alaikum wa Rahmatullahi wa  Barakatuh,</h1>
          <p>I am Maulana Umar Qayoom, the CEO of Taleem Ul Quran Online Quran Academy. With a background in Quranic
            studies and years of experience serving as an IMAM and KHATEEB in AWQAF UAE, I am honored to lead our academy in
            its mission to spread the teachings of the Quran far and wide. Our commitment to excellence, combined with
            our dedication to providing a nurturing learning environment, sets us apart as a premier destination for
            Quranic education.</p>
          <p>At Taleem Ul Quran, our journey is characterized by an unwavering commitment to excellence and an
            unyielding dedication to fostering an enriching learning environment. Central to our ethos is the principle
            of holistic education, where the acquisition of knowledge is complemented by the cultivation of character
            and values. Through our comprehensive curriculum, meticulously curated resources, and dedicated faculty of
            scholars and educators, we strive to empower our students to become confident and informed ambassadors of
            the Quranic </p>

          <p>As we continue on this noble endeavor, I am filled with gratitude for the unwavering support of our
            students, faculty, and community partners. Together, we embark on a journey of discovery, seeking to unlock
            the boundless treasures contained within the pages of the Quran. With humility and determination, we march
            forward, guided by the light of knowledge and the blessings of Allah.</p> 
            
          <strong>
            <p>Fi Amanillah, </p>
            <p>Maulana Umar Qayoom Sb,</p>
           <p class="mb-1">CEO, Taleem Ul Quran Online Quran Academy.</p>
         </strong> 
        </div>
      </div>
    </div>

    <div class="section mt-5">
      <h2>Our Teaching Methodology</h2>
      <p>At Taleem Ul Quran Online Quran Academy, we employ cutting-edge online platforms like Zoom, Google Meet, and MS
        Teams to facilitate dynamic and immersive Quranic learning experiences. Our teaching philosophy prioritizes
        student engagement, fostering an environment where interactive participation is encouraged and valued. We
        believe in harnessing the power of technology to deliver high-quality education that is accessible to all.
        <br>
        In addition to Zoom and Google Meet, our academy leverages the versatility of MS Teams, ensuring that students
        can seamlessly access their classes from any electronic device, be it a computer, smartphone, or tablet. With
        features like screen sharing, we empower our students to participate in their lessons from any location,
        granting them the flexibility to tailor their learning experience to their individual needs. At Taleem Ul Quran,
        we are committed to providing a modern and convenient approach to Quranic education, enabling our students to
        embark on their spiritual journey with ease and confidence."
      </p>
      <ul class="custom-list">
        <li>Comprehensive Quranic curriculum</li>
        <li>Individualized attention to each student</li>
        <li>Regular assessments and feedback</li>
        <li>Accessible learning resources and materials</li>
        <li>Interactive and engaging learning activities</li>
        <li>Integration of multimedia resources</li>
      </ul>
    </div>


    <div class="vision-section  text-justify">
      <div id="mission">
        <h2>Our Mission</h2>
        <p>At Taleem Ul Quran Online Quran Academy, our mission is to provide accessible, high-quality Quranic
          education worldwide, nurturing spiritual growth and fostering a deeper connection to Allah. Through our
          comprehensive curriculum and dedicated faculty, we empower students to confidently engage with the
          complexities of the Quran, embodying its teachings in their daily lives.
        </p>
      </div>
      <div id="vision">
        <h2>Our Vision</h2>
        <p>Our vision at Taleem Ul Quran Online Quran Academy is to be a global leader in Quranic education, recognized
          for our commitment to excellence, innovation, and inclusivity. We aspire to cultivate a community of lifelong
          learners dedicated to knowledge, spirituality, and personal growth, guided by the timeless wisdom of the
          Quran.</p>
      </div>
    </div>
  </div>

                             <!-- FOOTER -->

  <footer class="site-footer mt-5">
    <div class="container container-1">
      <div class="footer-section about-us">
        <h6 >About Us</h6>
        <p>We are dedicated to spreading the light of the Quran through our platform. Our mission is to provide
          quality education to female students, guided by certified female Almiah instructors...<a href="/aboutus" class="read-more">Read More</a></p>
        
      </div>
      <div class="footer-section navigation">
        <h6>Navigation</h6>
        <nav class="footer-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/downloads">Resources</a></li>
            <li><a href="/whyus">Why Us</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-section get-in-touch">
        <h6>Get In Touch</h6>
        <ul class="contact-info">
          <li ><a href="tel:+971554567772">
            <img src="../public/images/pics/call-logo.png" alt="">+971554567772
          </a> </li>
          <li ><a href="https://wa.me/+971554567772">
           <img src="../public/images/pics/whatsapp-logo.png" alt=""> +971554567772
          </a> </li>
          <li ><a href="mailto:Suhailumar699@gmail.com">
            <img src="../public/images/pics/mail-logo.png" alt="">Suhailumar699@gmail.com
          </a></li>
        </ul>
      </div>
    </div>
    <div class="copyright container">
    <div >
      <p>Copyright © 2024 Taleem Ul Quran Online Quran Academy | All Rights Reserved!</p>
    </div>
    <div class="social-media-links">
      <div id="insta-icon"><img src="../public/images/pics/insta-icon.png" alt=""></div>
      <div id="fb-icon"><img src="../public/images/pics/fb-icon.png" alt=""></div>
      <div id="twitter-icon"><img src="../public/images/pics/twitter-icon.png" alt=""></div>
    </div>
   </div>
  </footer>
</body>

<script src="/js/script.js"></script>
</html>