<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EjazulQuran Academy</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Alegreya&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond&family=Gulzar&family=Lora&family=Salsa&family=Solway&display=swap"
        rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <header class="header">
        <!-- Call Us -->
        <div id="call_logo">
            <a href="tel:00971554567772">
                <div>
                    <img src="../public/images/pics/call_logo.png" alt="Call Us" />
                </div>
                <div>
                    <p>00971554567772</p>
                </div>
            </a>
        </div>

        <!-- WhatsApp Us -->
        <div id="whatsapp_logo">
            <a href="https://wa.me/0923412057052">
                <div>
                    <img src="../public/images/pics/whatsapp_logo.png" alt="WhatsApp Us">
                </div>
                <div>
                    <p>00971554567772</p>
                </div>

            </a>

        </div>

        <!-- email Us -->
        <div id="mail_logo">
            <a href="mailto:naeem.riu.32@gmail.com">
                <div>
                    <img src="../public/images/pics/mail_logo.png" alt="Email Us">
                </div>
                <div>
                    <p>Suhailumar699@gmail.com </p>
                </div>
            </a>
        </div>

    </header>
    <nav class="navbar">
        <div id="navbar-logo">
            <a href="/"><img src="../public/images/pics/logo.png" alt="Logo"></a>
        </div>
        <img src="/public/images/pics/navbar-icon.png" alt=""id="dropdown-icon" onclick="toggleCSS()" >
        <ul class="navbar-ul">
          <li class="navbar-li"><a href="/" class="nav-link active" id="home-link">Home</a></li>
          <li class="navbar-li"><a href="/courses" class="nav-link" id="courses-link">Courses</a></li>
          <li class="navbar-li"><a href="/aboutus" class="nav-link" id="aboutus-link">About Us</a></li>
          <li class="navbar-li"><a href="/downloads" class="nav-link" id="downloads-link">Downloads</a></li>
          <li class="navbar-li"><a href="/whyus" class="nav-link" id="whyus-link">Why Us</a></li>
          <li class="navbar-li"><a href="/contactus" class="nav-link" id="contactus-link">Contact Us</a></li>
          <li class="navbar-li"><a href="/register" class="nav-link" id="register-link">Register Now</a></li>
      </ul>
    </nav>

    <div class="container-fluid" id="courses">
        <div id="course-heading">
            <h2>Courses</h2>
        </div>
        <div class=" course_cards">
            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/noorani_qaida_english.jpeg" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Online Noorani Qaida Course</h2>
                    <p>Our Foundational Noorani Qaida Course is perfect for beginners of all ages. Dive into the basics
                        of Quranic learning with structured lessons and expert guidance. Join us to start your journey
                        in mastering Quranic recitation today.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>

            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/quran_reading_pic.jpg" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Online Quran Reading Course</h2>
                    <p>Explore our Online Quran Reading Course, tailored for all ages. Learn Arabic script and Tajweed
                        rules effortlessly with our interactive curriculum. Guided by experts and supported by resources
                        like the Norani Qaida booklet and instructional videos, you'll excel in Quranic recitation.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>
            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/qurantafseer.jpg" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Online Quran Translation Course</h2>
                    <p>Explore our Quran Translation Course, tailored for all ages and genders. Learn Quranic
                        translation with Tafseer Ul Quran effortlessly and understand the real meaning of Quran with
                        experienced online tutors. Focus on meanings and progress seamlessly towards mastery.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>
            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/tajweed_quran_pic.jpg" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Online Quran with Tajweed Course</h2>
                    <p>Refine your Quranic recitation with our Tajweed Course. Perfect for those who've completed basic
                        Quran reading, this self-paced program focuses on mastering Tajweed rules. Led by experienced
                        teachers, learn and apply rules like Ghunna and Qalqala.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>
            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/quran_memorization.jpeg" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Online Quran Memorization (HIFZ) Course</h2>
                    <p>Join our Online Hifz Program for Quran memorization. Suitable for all ages and genders, our
                        expert tutors guide students through this transformative journey. With dedicated instruction,
                        memorizing the Quran with Tajweed becomes achievable.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>

            <div class="course-card">
                <div id="course-card-img">
                    <img src="../public/images/Course_pic/memorization_of_surahs.png" alt="Course Image">
                </div>
                <div class="course-card-content">
                    <h2>Memorization of Key Surahs Online Course</h2>
                    <p>Introducing our Surah Memorization Course, designed for busy learners who desire to memorize key
                        surahs from the Quran. With select surahs like Yaseen, Al Mulk, and others, experience the
                        convenience of reciting anytime, anywhere.</p>
                    <div class="course-card-buttons">
                        <a href="/package" class="btn btn-secondary">More Details</a>
                        <a href="/register" class="btn btn-primary">Register for Free </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- FOOTER -->

    <footer class="site-footer mt-5">
        <div class="container container-1">
            <div class="footer-section about-us">
                <h6>About Us</h6>
                <p>We are dedicated to spreading the light of the Quran through our platform. Our mission is to provide
                    quality education to female students, guided by certified female Almiah instructors...<a
                        href="/aboutus" class="read-more">Read More</a></p>

            </div>
            <div class="footer-section navigation">
                <h6>Navigation</h6>
                <nav class="footer-nav">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/courses">Courses</a></li>
                        <li><a href="/downloads">Resources</a></li>
                        <li><a href="/whyus">Why Us</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </nav>
            </div>
            <div class="footer-section get-in-touch">
                <h6>Get In Touch</h6>
                <ul class="contact-info">
                    <li><a href="tel:+971554567772">
                            <img src="../public/images/pics/call-logo.png" alt="">+971554567772
                        </a> </li>
                    <li><a href="https://wa.me/+971554567772">
                            <img src="../public/images/pics/whatsapp-logo.png" alt=""> +971554567772
                        </a> </li>
                    <li><a href="mailto:Suhailumar699@gmail.com">
                            <img src="../public/images/pics/mail-logo.png" alt="">Suhailumar699@gmail.com
                        </a></li>
                </ul>
            </div>
        </div>
        <div class="copyright container">
            <div>
                <p>Copyright © 2024 Taleem Ul Quran Online Quran Academy | All Rights Reserved!</p>
            </div>
            <div class="social-media-links">
                <div id="insta-icon"><img src="../public/images/pics/insta-icon.png" alt=""></div>
                <div id="fb-icon"><img src="../public/images/pics/fb-icon.png" alt=""></div>
                <div id="twitter-icon"><img src="../public/images/pics/twitter-icon.png" alt=""></div>
            </div>
        </div>
    </footer>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>
<script src="/js/script.js"></script>

</html>