<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/footer.css">
  <link rel="stylesheet" href="/css/package.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Alegreya&family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=EB+Garamond&family=Gulzar&family=Lora&family=Salsa&family=Solway&display=swap"
    rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

  <title>Packages</title>
  <style>

  </style>
</head>

<body>
  <header class="header">
    <!-- Call Us -->
    <div id="call_logo">
      <a href="tel:00971554567772">
        <div>
          <img src="../public/images/pics/call_logo.png" alt="Call Us" />
        </div>
        <div>
          <p>00971554567772</p>
        </div>
      </a>
    </div>

    <!-- WhatsApp Us -->
    <div id="whatsapp_logo">
      <a href="https://wa.me/0923412057052">
        <div>
          <img src="../public/images/pics/whatsapp_logo.png" alt="WhatsApp Us">
        </div>
        <div>
          <p>00971554567772</p>
        </div>

      </a>

    </div>

    <!-- email Us -->
    <div id="mail_logo">
      <a href="mailto:naeem.riu.32@gmail.com">
        <div>
          <img src="../public/images/pics/mail_logo.png" alt="Email Us">
        </div>
        <div>
          <p>Suhailumar699@gmail.com </p>
        </div>
      </a>
    </div>

  </header>
  <nav class="navbar">
    <div id="navbar-logo">
        <a href="/"><img src="../public/images/pics/logo.png" alt="Logo"></a>
    </div>
    <img src="/public/images/pics/navbar-icon.png" alt=""id="dropdown-icon" onclick="toggleCSS()" >
    <ul class="navbar-ul">
      <li class="navbar-li"><a href="/" class="nav-link active" id="home-link">Home</a></li>
      <li class="navbar-li"><a href="/courses" class="nav-link" id="courses-link">Courses</a></li>
      <li class="navbar-li"><a href="/aboutus" class="nav-link" id="aboutus-link">About Us</a></li>
      <li class="navbar-li"><a href="/downloads" class="nav-link" id="downloads-link">Downloads</a></li>
      <li class="navbar-li"><a href="/whyus" class="nav-link" id="whyus-link">Why Us</a></li>
      <li class="navbar-li"><a href="/contactus" class="nav-link" id="contactus-link">Contact Us</a></li>
      <li class="navbar-li"><a href="/register" class="nav-link" id="register-link">Register Now</a></li>
  </ul>
</nav>

  <div class="container">
    <h2 class="mt-3 ">Our Fee?</h2>
    <p>We offer an affordable fee structure tailored to individual financial conditions, ensuring that everyone has
      access to our services. Additionally, we provide scholarships for needy and talented students to support their
      education. Please reach out to us through our contact numbers for detailed fee information and to discuss how we
      can best accommodate your
      needs.</p>
    <h2 class=" mt-5">Our Packages</h2>
    <p class=" mb-4 ">We have the following three basic packages but if You want something different don't worry we
      will do whatever you want, our vision is to provide the best for You.If you have any query about the Fee , course
      content or duration or something else feel free to connect with us .Send your queries through WhatsApp , Phone
      Call or through Email . </p>

  </div>
  <div class=" container package-container mt-5">
    <div class="package-card">
      <h2>Weekend Plan</h2>
      <ul>
        <li>Online classes</li>
        <li>30 minutes class</li>
        <li>2 classes per week</li>
        <li>One to one sessions</li>
        <li>2 days FREE trial</li>
        <li>Male tutors</li>
        <li>Female tutors</li>
        <li>Flexible timing</li>
      </ul>
      <a href="/register" class="btn btn-primary custom-btn">Register Now </a>
    </div>
    <div class="package-card">
      <h2>Standard Plan</h2>
      <ul>
        <li>Online classes</li>
        <li>30 minutes class</li>
        <li>5 classes per week</li>
        <li>One to one sessions</li>
        <li>2 days FREE trial</li>
        <li>Male tutors</li>
        <li>Female tutors</li>
        <li>Flexible timing</li>
      </ul>
      <a href="/register" class="btn btn-primary custom-btn">Register Now </a>
    </div>
    <div class="package-card">
      <h2>Professionals' Plan</h2>
      <ul>
        <li>Online classes</li>
        <li>60 minutes class</li>
        <li>2 classes per week</li>
        <li>One to one sessions</li>
        <li>2 days FREE trial</li>
        <li>Male tutors</li>
        <li>Female tutors</li>
        <li>Flexible timing</li>
      </ul>
      <a href="/register" class="btn btn-primary custom-btn">Register Now </a>
    </div>
  </div>
  <div class="container mt-5">
    <div>
      <h2 class="text-center mt-4">Connect with Us</h2>
    </div>
    <div class="mt-5" id="contacts">
      <div id="call">
        <div id="call-logo">
          <img src="../public/images/pics/call-logo.png" alt="call logo">
        </div>
        <div id="phone_numb">
          <h5 class="text-center mb-2 mt-2">Call</h5>
          <p>+971554567772</p>
        </div>
      </div>
      <div id="whatsapp">
        <div id="whatsapp-logo">
          <img src="../public/images/pics/whatsapp-logo.png" alt="call logo">
        </div>
        <div id="whatsapp_numb">
          <h5 class="text-center mb-2 mt-2">WhatsApp</h5>
          <p>+971554567772</p>
        </div>
      </div>
      <div id="email-section">
        <div id="email_logo">
          <img src="../public/images/pics/mail-logo.png" alt="call logo">
        </div>
        <div id="mail">
          <h5 class="text-center mb-2 mt-2">Email</h5>
          <p>Suhailumar699@gmail.com</p>
        </div>
      </div>
    </div>

  </div>
  <!-- FOOTER -->

  <footer class="site-footer mt-5">
    <div class="container container-1">
      <div class="footer-section about-us">
        <h6>About Us</h6>
        <p>We are dedicated to spreading the light of the Quran through our platform. Our mission is to provide
          quality education to female students, guided by certified female Almiah instructors...<a href="/aboutus"
            class="read-more">Read More</a></p>

      </div>
      <div class="footer-section navigation">
        <h6>Navigation</h6>
        <nav class="footer-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/courses">Courses</a></li>
            <li><a href="/downloads">Resources</a></li>
            <li><a href="/whyus">Why Us</a></li>
            <li><a href="/register">Register</a></li>
          </ul>
        </nav>
      </div>
      <div class="footer-section get-in-touch">
        <h6>Get In Touch</h6>
        <ul class="contact-info">
          <li><a href="tel:+971554567772">
              <img src="../public/images/pics/call-logo.png" alt="">+971554567772
            </a> </li>
          <li><a href="https://wa.me/+971554567772">
              <img src="../public/images/pics/whatsapp-logo.png" alt=""> +971554567772
            </a> </li>
          <li><a href="mailto:Suhailumar699@gmail.com">
              <img src="../public/images/pics/mail-logo.png" alt="">Suhailumar699@gmail.com
            </a></li>
        </ul>
      </div>
    </div>
    <div class="copyright container">
      <div>
        <p>Copyright © 2024 Taleem Ul Quran Online Quran Academy | All Rights Reserved!</p>
      </div>
      <div class="social-media-links">
        <div id="insta-icon"><img src="../public/images/pics/insta-icon.png" alt=""></div>
        <div id="fb-icon"><img src="../public/images/pics/fb-icon.png" alt=""></div>
        <div id="twitter-icon"><img src="../public/images/pics/twitter-icon.png" alt=""></div>
      </div>
    </div>
  </footer>
</body>
<script src="/js/script.js"></script>

</html>